<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d %-4relative [%thread] %-5level %logger - %msg %n
			</pattern>
		</encoder>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.transerainc.ada" level="debug" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>